
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    text-align: left;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    text-align: right;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #fffdfd;
    color: black;
    

  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #d494884d;
    color: white;
  }